<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
</head>
<body>
<div class="change-password-container">
    <h2>修改密码</h2>
    <form id="changePasswordForm">
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username" required>

        <label for="oldPassword">旧密码:</label>
        <input type="password" id="oldPassword" name="oldPassword" required>

        <label for="newPassword">新密码:</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <button type="submit">提交</button>
    </form>
    <p id="message"></p>

    <!-- 返回登录页面 -->
    <a href="/">返回登录</a>
</div>

<script src="{{ url_for('static', filename='js/change_password.js') }}"></script>
</body>
</html>